section{
    width:90vw;
    height:600px;
    display:grid;
    margin-inline:auto;
    margin-block:500px;
    gap:20px;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(3, 1fr);
}

h1{
    padding:0;
    margin:0;
}

p{
    padding:0;
    margin:0;
}

section div{
    border-radius:20px;
}

.red{
background-color: red;
grid-row: span 4;
}

.blue{
background-color: blue;
}

.orange{
background-color: orange;
grid-row:span 2;
}

.green{
background-color: green;
}

.purple{
background-color: purple;
grid-row:span 2;
}

.yellow{
background-color: yellow;
grid-row:span 2;
}

#blur-circle{
    width:100%;
    height:100vh;
    position:relative;
}

#blur-circle svg{
    position:absolute;
    top:40px;
    left:500px;
    z-index:-1;
}

